<div class="alert alert-primary" role="alert">
    <h2 class="titulo">Investimentos</h2>
</div>

<div class="Row col-md-12">

    <table class="col-md-10 table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Objetivo</th>
                <th scope="col">Saldo Total Disponível</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaInvestimentos.listaInvestimentos" (click)="resgate(item)" style="cursor: pointer;">
                <td>{{item.nome}}</td>
                <td>{{item.objetivo}}</td>
                <td>{{item.saldoTotalDisponivel  | currency:'R$ '}}</td>
            </tr>

        </tbody>
    </table>

</div>